*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #666666;
    color: white;
    padding: 12px;

    display: flex;
    flex-direction: row;
    align-items: center;

}
header img{
    width: 54px;
}
header h1{
    margin-left: 24px;
}

#main{
    display: flex;
}

aside{
    background-color: rgb(206, 206, 206);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    min-width: 200px;
}

a.button{
    padding: 12px;
    border: 2px solid black;
    margin: 8px;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    color: black;
}
a.button:hover{
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.3);
}
a.button.actual{
    background-color: black;
    color: white;
}

#content{
    width: 100%;
    padding: 12px 24px;
}
#content .flex-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
#content .paso{
    display: flex;
    align-items: flex-start;
    padding:12px;
    /* border: 1px solid gray; */
    box-shadow: 0 0 6px rgba(0, 0, 0 , 0.3);
    border-radius: 8px;
    gap: 12px;
}
#content .paso img{
    max-width: 96px;
}
#content .paso h3, #content .paso p{
    margin: 0;
}


footer{
    background-color: #333;
    padding: 12px;
    color: white;
    text-align: center;
}